{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="dashboard-container">
        <h1>Bienvenido, {{ usuario }}</h1>
        <p>Tu rol es: {{ rol }}</p>
        {% if rol == "ADMIN" %}
            <p>Opciones:</p>
            <ul>
                <li><a href="{% url 'usuarios_list' %}">Gestión de usuarios</a></li>
                <li><a href="#">Reportes</a></li>
            </ul>
        {% elif rol == "BODEGA" %}
            <p>Opciones:</p>
            <ul>
                <li><a href="#">Gestión de inventario</a></li>
            </ul>
        {% elif rol == "VENTAS" %}
            <p>Opciones:</p>
            <ul>
                <li><a href="#">Gestión de pedidos</a></li>
            </ul>
        {% endif %}
    </div>
</body>
</html>